/* stylelint-disable property-no-vendor-prefix */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: white;
}
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 0 white;
	/* stylelint-disable-next-line order/properties-order */
	-webkit-box-shadow: inset 0 0 0 white;
	/* stylelint-disable-next-line order/properties-order */
	background-color: #dddee0;
	border-radius: 20px;
}

/* stylelint-disable-next-line no-invalid-double-slash-comments */
// * page switch animation
.fade-enter {
	opacity: 0;
	transform: translateX(-30px);
}
.fade-enter-active,
.fade-exit-active {
	opacity: 1;
	transition: all 0.2s ease-out;
	transform: translateX(0);
}
.fade-exit {
	opacity: 0;
	transform: translateX(30px);
}
